:root {
    --bg-color: #2f3339;
    --fg-color: #98a3b0;
    --pm-color: #EE7600;
}

* {
    background-color: var(--bg-color) !important;
    color: var(--fg-color) !important;
    border-color: var(--fg-color) !important;
    outline-color: var(--fg-color) !important;
    transition: 0;
}

a {
    color: var(--pm-color) !important;
}
